<%= render "shared/header" %>

<%= render "shared/my_image" %>

<div class="new-post">
  <span class="new-post-dialy">日記の編集</span>

  <%= form_with model: @post,  local: true do |f| %>

    <div class="edit-post-archive">
      <div class= "new-post-image">
        <p>写真</p>
        <%= f.file_field :image, name: 'post[images][]', class: "post-image", multiple: true %>
      </div>
      <div id="image-list"></div>

      <div class= "new-post-title">
        <p>タイトル</p>
        <%= f.text_field :title, placeholder: "タイトルを書こう（なくてもOK）", class: "post-title"%>
      </div>

      <div class= "new-post-content">
        <p>日記</p>
        <%= f.text_area :content, placeholder: "今日あったことを書こう", class: "post-content" %>
      </div>

      <div class= "new-post-submit">
        <%= f.submit "日記を編集する", class: "new-post-btn" %>
          <%= link_to '日記の一覧へもどる', posts_path, class: "edit-post-return" %>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/footer"%>