<%= render "shared/header" %>

<%#= form_with model: @post, url: posts_path, method: :POST, local: true do |f| %>
  <%# <div class="posts-top">
    <%= f.file_field :image, id:"item-image" %>
    <%# <%= f.submit '送信', class: 'form-submit' %>
  <%# </div>
<% end %>
  <%#= image_tag @post.image, class: 'message-image' if @post.image.attached?%>

<%= render "shared/my_image" %>

<div class="main-page">
  <div class="left-page">
    <div class="left-page-btn">
      <%= link_to "日記を書く", new_post_path, class: "left-page-send"%>
    </div>
    <div class="left-page-bottom">
      <div class="left-page-calendar">
        <h1>カレンダー</h1>
          <div id="calendar">
          </div>
      </div>
      <div class="left-page-archive">
        <p>月別アーカイブ</p>
      </div>
      <div class="left-page-tag">
        <p>カテゴリー</p>
      </div>
      <div class="left-page-category">
        <p>タグ</p>
      </div>
    </div>
  </div>

  <div class="right-page">
    <div class="right-page-article">
      <p>日記帳</p>
    </div>
    <div class="right-post-data">
      <% @post.each do |post| %>
        <div class="right-page-day">
          <%= post.created_at.to_s(:datetime_jp) %>
            <%= link_to "詳細", post_path(post.id), method: :GET, class: "fight-page-day"%>
            <%= link_to "編集", edit_post_path(post.id), class: "fight-page-day"%>
            <%= link_to "削除", post_path(post.id), method: :DELETE, data: { confirm: "本当に削除しますか？" }, class: "fight-page-day"%>
        </div>
        <div class="right-page-title">
          <%= post.title %>
        </div>
        <div class="right-page-image">
          <% post.images.each do |p| %>
            <%= image_tag p.variant(resize: '200x200').processed %>
          <% end %>
        </div>
        <div class="right-page-content">
          <%= safe_join(post.content.split("\n"),tag(:br)) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="to-top">
  <%= link_to "トップへ", posts_path, class: 'bottom-to-top' %>
</div>


<%= render "shared/footer"%>

