<%= render "shared/header" %>

<%#= form_with model: @post, url: posts_path, method: :POST, local: true do |f| %>
  <%# <div class="posts-top">
    <%= f.file_field :image, id:"item-image" %>
    <%# <%= f.submit '送信', class: 'form-submit' %>
  <%# </div>
<% end %>
  <%#= image_tag @post.image, class: 'message-image' if @post.image.attached?%>

<div class="wrapper-image">
  <h1 class="wrapper-title">
    <%= current_user.name %> 's  dialy
  </h1>
</div>

  <div class="main-page">
    <div class="left-page">
      <div class="left-page-calendar">
        <%= link_to "投稿する", new_post_path %>
        <h1>Calendar</h1>
          <p>カレンダー</p>
      </div>
      <div class="left-page-archive">
        <p>月別Archive</p>
        <%#= @post.created_at.to_s(:datetime_jp) %>
      </div>
      <div class="left-page-category">
        <p>Category</p>
        <p>Tag</p>
      </div>
    </div>

    <div class="right-page">
      <div class="right-page-article">
        <p>投稿一覧</p>
      </div>
      <div class="right-post-data">
        <% @post.each do |post| %>
          <div class="right-page-day">
            <%= post.created_at.to_s(:datetime_jp) %>
          </div>
          <div class="right-page-title">
            <%= post.title %>
          </div>
          <div class="right-page-image">
            <% if post.image.attached? %>
              <%= image_tag post.image.variant(resize:'600x600') %>
            <% end %>
          </div>
          <div class="right-page-content">
            <%= post.content %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

