<h1>New Article</h1>
<%= form_with model: @post,  local: true do |f| %>

  <p>
    <%= f.file_field :image, id:"item-image" %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>