<%= render "shared/header" %>

<%= render "shared/my_image" %>

<div class="new-post">
  <h1>日記を書く</h1>
  <%= form_with model: @post,  local: true do |f| %>

    <div class="new-post-archive">
      <div class= "new-post-image">
        <p>写真</p>
        <%= f.file_field :image %>
      </div>

      <div class= "new-post-title">
        <p>タイトル</p>
        <%= f.text_field :title %>
      </div>

      <div class= "new-post-content">
        <p>日記</p>
        <%= f.text_area :content, placeholder: "1000文字まで" %>
      </div>

      <div class= "new-post-submit">
        <%= f.submit "日記を投稿する" %>
        <%= link_to 'もどる', posts_path %>
      </div>
    </div>
  <% end %>
</div>

<%= render "shared/footer"%>