<%= render "shared/header" %>

<%= render "shared/my_image" %>

<div class="new-post">
  <span class="new-post-dialy">日記の内容</span>

  <div class="right-page">
    <div class="right-post-data">
      <div class="right-page-day">
        <%= @post.created_at.to_s(:datetime_jp) %>
      </div>
      <div class="right-page-title">
        <%= @post.title %>
      </div>
      <div class="right-page-image">
        <% if @post.image.attached? %>
          <%= image_tag @post.image.variant(resize:'600x600') %>
        <% end %>
      </div>
      <div class="right-page-content">
        <%= safe_join(@post.content.split("\n"),tag(:br)) %>
      </div>
      <div class= "new-post-submit">
        <%= link_to '日記の一覧へもどる', posts_path, class: "show-post-return" %>
        <%= link_to '日記の編集', edit_post_path(@post.id), class: "show-post-btn" %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer"%>